  <%= content_for :body do %>
    <%= stylesheet_link_tag 'employees_index' %>
  <% end %>
  <div class="main st_02-employee-list ly-st_02-employee-list">
    <div class="main__inner st_02-employee-list__inner">
      
      <h2 class="title page-title">メンバーリスト</h2>
      <%= search_form_for @q, url: employees_path do |f| %>
        <%= f.label :Ememployee_id_cont, '社員番号' %>
        <%= f.search_field :employee_id_eq %>
        <div class="actions"><%= f.submit "検索" %></div>
      <% end %>

      <div class="employee-list-table">
        <table class="table employee-list-table__inner">
          <thead class="table__thead employee-list-table__header-head">
            <tr class="table__row-thead employee-list-table__header-row">
              <!--<%= sort_link(@q, :employee_id) %>-->
              <th class="table__head"><%= sort_link(@q, :employee_id) %></th>
              <th class="table__head"><%= sort_link(@q, :name, %i(last_name first_name), default_order: {last_name: 'asc', first_name: 'desc'}) %></th>
              <th class="table__head"><%= sort_link(@q, :mst_gender_id) %></th>
              <th class="table__head"><%= sort_link(@q, :birth_date) %></th>
              <th class="table__head"><%= sort_link(@q, :join_date) %></th>
              <th class="table__head"><%= sort_link(@q, :experience) %></th>
              <!--q<th class="table__head"></th>-->
            </tr>
          </thead>
          <tbody>
            <% @employees.each_with_index do |employee, index| %>
              <tr class="table__row">
                <td class="table__text"><%= employee.employee_id %></td>
                <td class="table__text"><%= @names[index] %> </td>
                <td class="table__text"><%= employee.mst_gender.gender %></td>
                <td class="table__text"><%= @birth_dates[index] %></td>
                <td class="table__text"><%= employee.join_date.strftime("%Y#{DATE::YEAR}%m#{DATE::MONTH}%d#{DATE::DAY}") %></td>
                <td class="table__text"><%= employee.experience %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="pagination-area">
        <ul class="pagination">
          <li class="pagination-item"><a href="" class="">&lt;</a></li>
          <li class="pagination-item current-page"><a href="" aria-disabled="true">1</a></li>
          <li class="pagination-item"><a href="">2</a></li>
          <li class="pagination-item"><a href="">3</a></li>
          <li class="pagination-item"><a href="">&gt;</a></li>
        </ul>
      </div><!-- pagination -->

    </div>
  </div>